* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/*Task-1*/

li, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.animalscontainer {
  display: flex;
  flex-direction: column;
  width: 444px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 24px;
  gap: 24px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f6fe;
  padding: 0 16px 16px 16px;
  border-radius: 8px;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.category li {
  border-radius: 4px;
  border: 1px solid black;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
}

/*Task-2*/

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery-item {
  flex: 1 1 calc(33.333% - 16px);
  /* Ширина блоку із відступами */
  box-sizing: border-box;
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*Task-3*/

.task3container {
  width: 408px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 24px;
}

.task3input {
  width: 360px;
  height: 40px;
  padding-left: 16px;
  border-radius: 6px;
  border: 1px solid black;
  margin-bottom: 16px;
}

.task3container h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 0;
  margin: 0;
}

/*Task-4*/

.login-form {
display: flex;
flex-direction: column;
gap: 16px;
border-radius: 8px;
padding: 24px;
width: 408px;
height: 256px;
background: #fff;
}

.login-form label {
  display: flex;
  flex-direction: column;
}

.login-form div {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.login-form input {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid black;
}

.login-form button {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  cursor: pointer;
  background: #4e75ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

/*Task-5*/

.widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 100px 88px;
  width: 345px;
  height: 280px;
  background: #fff;
}

.change-color {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  background: #4e75ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}